body {
    background: gray
}

div {
    background: black;
}

.mainBorder {
    width: 510px;
    height: 860px;
    border: 5px solid aqua;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
}
.grid {
    height: 100%;
    width: 100%;
    margin: 0;
}
.grid {
    width: 100%;
    height: 100%;
    }
    .gridRow {
        width: max-content;
        height: 50px;
    }
    .gridRowSmall {
        width: max-content;
        height: 30px;
    }
        .gridItem {
            width:50px;
            height:50px;
            border: 1px solid gray;
            float:left;
        }
        .gridItemSmall {
            width:30px;
            height:30px;
            /*border: 1px solid gray;*/
            float:left;
        }


.hold {
    width: 139px;
    border: 5px solid aqua;
    margin-left: -139px;
    margin-top: -5px;
    height: 161px;
    border-radius: 5px 0 5px 5px;
    padding: 10px 5px 5px;
}
.hold-text {
    background: aqua;
    text-align: center;
    font-family: Fixed, sans-serif;
    margin: -10px -5px -5px;
}

.hold-holder, .next-holder {
    padding-top: 9px;
    background: rgba(255, 255, 255, 0)
}

.incoming {
    width: 70px;
    border: 5px solid aqua;
    border-top: 0;
    margin-left: -70px;
    /*height: 692px;*/
    border-radius: 0 0 0 5px;
    flex: 1 1 auto;
}

.next {
    width: 140px;
    border: 5px solid aqua;
    /*border-bottom: 15px solid aqua;*/
    margin-right: -140px;
    margin-top: -5px;
    height: 75%;
    border-radius: 0 5px 0 0;
    padding: 10px 5px 5px;
}
.next-text {
    background: aqua;
    text-align: center;
    font-family: Fixed, sans-serif;
    margin: -10px -5px -5px;
}

.stats {
    width: 140px;
    border: 5px solid aqua;
    border-top: 15px solid aqua;
    /*margin-top: 15px;*/
    margin-right: -140px;
    height: 266px;
    /*flex: 1 1 auto;*/
    border-radius: 0 0 5px 0;
}
.stats-text {
    background: aqua;
    text-align: center;
    font-family: Fixed, sans-serif;
}

.cube {
    left:200px;
    position:absolute;
    height:max-content;
    width: max-content;
    /*transition: 0.05s;*/
}

.block, .preview {

    border: 0;
}


.leftHolder, .rightHolder {
    display: flex;
    flex-flow: column;
    width: 0;
    height: 855px;
}

.score {
    color: white;
    text-align: center;
}

.endText {
    position: absolute;
    color: white;
    background: transparent;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    text-overflow: clip;
    display: none;
}

.github {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 10px;
}
.info {
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: Fixed, sans-serif;
    width: 200px;
    text-align: right;
    background: transparent;
}

.Yellow {
    background: yellow;
}

.DarkBlue{
    background: darkblue;
}

.Orange {
    background: #feaa00;
}

.Blue {
    background: #01ffff;
}

.Green {
    background: #00ff01;
}

.Purple {
    background: #9900fe;
}

.Red {
    background: red;
}
.Gray {
    background: gray;
}